@using BlazorAppExemploHerancaBCC.Model
@page "/cadastroPessoaJuridica"
@rendermode InteractiveServer

<div class="container">
    <div class="card">
        <div class="card-header">
            Cadastro de Pessoa Juridica
        </div>
        <div class="card-body">
            <EditForm Model="@pessoaJuridica">
                <div>
                    <label for="" class="form-label">Nome</label>
                    <InputText id="txtNome" class="form-control" @bind-Value="pessoaJuridica.Nome" />
                </div>
                <div>
                    <label for="" class="form-label">Endereço</label>
                    <InputText id="txtEndereco" class="form-control" @bind-Value="pessoaJuridica.Endereco" />
                </div>
                <div>
                    <label for="" class="form-label">Telefone</label>
                    <InputText id="txtTelefone" class="form-control" @bind-Value="pessoaJuridica.Telefone" />
                </div>
                <div>
                    <label for="" class="form-label">CNPJ</label>
                    <InputText id="txtCnpj" class="form-control" @bind-Value="pessoaJuridica.Cnpj" />
                </div>
                <div>
                    <label for="" class="form-label">Inscrição Estadual</label>
                    <InputText id="txtInscrEstadual" class="form-control" @bind-Value="pessoaJuridica.InscrEstadual" />
                </div>
                <div>
                    <label for="" class="form-label">Inscrição Municipal</label>
                    <InputText id="txtInscrMunicipal" class="form-control" @bind-Value="pessoaJuridica.InscrMunicipal" />
                </div>
            </EditForm>
        </div>
        <div class="card-footer">
            <div>
                <button class="btn btn-primary">Cadastrar</button>
            </div>
        </div>
    </div>
</div>

@code {
    PessoaJuridica pessoaJuridica = new PessoaJuridica();

}